/* CSS for Social Media Wall */ 

/* Main Body Styling */

body {
   background-image: url(icons/background_table.png);
   width: auto;
 }

 /* Tablet screen Optimised */ 

@media screen and (min-width: 1200px) and (max-width: 1500px) {

    
    h2 {
        text-align: center;
        padding: 20px;
        font-family: "kanit", serif;
        font-size: 30px;
        color: Black;
        text-shadow: 0 0 10px grey;
    }
    
    /*Social Media Block One */ 
    
     #Square_SM1 {
        background-color: grey;
        height: 600px; 
        width: auto;
        position: absolute;
        margin-left: 10px;
        border-radius: 10px;
        box-shadow: 0 0 15px 10px grey;
        fill-opacity: 50%;
     }
    
     #text_1 {
        position: absolute;
        top: 540px;
        left: 15px;
        color: black;
        font-family: "kanit", serif;
     }
    

}

/* Nomral Monitor Optimisation */ 

/* @media screen and (min-width: 1500px) and (max-width:2000px) { */

    
    h2 {
        text-align: center;
        padding: 20px;
        font-family: "kanit", serif;
        font-size: 30px;
        color: whitesmoke;
        text-shadow: 0 0 10px black;
    }
    
    /*Social Media Block One */ 

      #Square_SM1 {
        background-color: #333232;
        height: 600px; 
        width: 600px;
        margin:auto;
        /* position: fixed;
        left:50%;
        right:50%;*/
        border-radius: 10px;
        box-shadow: 0 0 15px 10px black;
     }
    
     #text_1 {
      position: absolute;
      top: 680px;
      margin: auto;
      color: black;
      font-family: "kanit", serif;
   }
  
     /* Table Centering */ 

     table {
      margin: auto;
      font-family:"kanit", serif;
     }


/* Table Design */ 

td {
   color: white;
   height: 50px;
   width: 50px;
   align-content: center;
   text-align: center;
   }

th {
   color: white;
   height: 50px;
   width: 140px;
   background: grey;
}

tr {
  align-content: center;
  background-color: darkgrey;
}

tr:hover {
   background-color: #2f4b62;
}
 
/* button styling */ 

button {
   font-family:"kanit", serif;
   position: relative;
   left:250px;
   top: 400px;
   height:40px;
   width: 120px;
   border: 0px solid;
   border-radius: 10px;
   background-color: darkgrey;
}

button:hover {
   background-color: grey;
}

bold {
   color: white;
   font-size: 16px;
}

 /* VW = Viewport Width */ 