/* CSS for Social Media Wall */ 

/* Main Body Styling */

body {
   background-color: #fff;
   width: auto;
 }

 /* Tablet screen Optimised */ 

@media screen and (min-width: 1200px) and (max-width: 1500px) {

    
    h2 {
        text-align: center;
        padding: 20px;
        font-family: "kanit", serif;
        font-size: 30px;
        color: Black;
        text-shadow: 0 0 10px grey;
    }
    
    /*Social Media Block One */ 
    
     #Square_SM1 {
        background-color: whitesmoke;
        height: 600px; 
        width: auto;
        position: absolute;
        margin-left: 10px;
        border-radius: 10px;
        box-shadow: 0 0 15px 10px grey;
     }
    
     #text_1 {
        position: absolute;
        top: 540px;
        left: 15px;
        color: black;
        font-family: "kanit", serif;
     }
    

}

/* Nomral Monitor Optimisation */ 

/* @media screen and (min-width: 1500px) and (max-width:2000px) { */

    
    h2 {
        text-align: center;
        padding: 20px;
        font-family: "kanit", serif;
        font-size: 30px;
        color: black;
        text-shadow: 0 0 10px grey;
    }
    
    /*Social Media Block One */ 
    
      #Square_SM1 {
        background-color: whitesmoke;
        height: 600px; 
        width: 600px;
        margin:auto;
        /* position: fixed;
        left:50%;
        right:50%;*/
        border-radius: 10px;
        box-shadow: 0 0 15px 10px grey;
     }
    
     #text_1 {
      position: absolute;
      top: 680px;
      margin: auto;
      color: black;
      font-family: "kanit", serif;
   }
  
    

    

     /* Table Centering */ 

     table {
      margin: auto;
     }

     td {
      color: #fff;
     }

     tr {
      border-bottom: 1pt solid black;
     }

/* } */

 
/* button styling */ 

#btn1 {
   color: #2f4b62;
   position: absolute;
   /* left: 72.5%;
   top: 71%;
   height:40px;
   width:60px; */
   cursor: pointer;

}

#btn1:hover {
   color: red;
} 

 /* VW = Viewport Width */ 